
:root {
    --primary-color: #2f4f7f;
    --secondary-color: #f7f7f7;
    --terciary-color: #45a0e6;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.container {
    width: 300px;
    margin: auto;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: var(--primary-color);
    text-align: center;
}

form label {
    display: block;
    margin-top: 10px;
}

form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}

form button {
    background-color: var(--terciary-color);
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: var(--primary-color);
}
